# This is for Capstone Week 3 assignment

In [1]:
import pandas as pd
import numpy as np

In [2]:
#load table from Wikipedia page
pf_page = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df_table = pf_page[0]
df_table.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
df_table.shape

(180, 3)

In [4]:
df_table.describe()

       Postal Code       Borough  Neighborhood
count          180           180           180
unique         180            11           100
top            M1B  Not assigned  Not assigned
freq             1            77            77

In [5]:
# Assign Neighborhood as Borough, when neighborhood has Not assigned valued
df_table.Neighborhood = np.where((df_table.Neighborhood =='Not assigned'), df_table.Borough, df_table.Neighborhood)

In [6]:
df_table.describe()

       Postal Code       Borough  Neighborhood
count          180           180           180
unique         180            11           100
top            M1B  Not assigned  Not assigned
freq             1            77            77

In [7]:
#drop rows where Borough is not assigned
indxBorough = df_table[df_table['Borough']=='Not assigned'].index
df_table.drop(indxBorough, inplace=True)
df_table.set_index(['Postal Code'])
df_table.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
df_table.shape

(103, 3)

In [9]:
df_table.describe()

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           99
top            M1B  North York    Downsview
freq             1          24            4